{% extends "base.html" %}



{% block body %}
<div class="blockcontents section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="about content">
                            <i class="fa fa-fw fa-lg fa-plus plus"></i>EVENT</h1>
                    </div>
                </div>
            </div>
        </div>


  <a href="{% url 'event' %}">
  <img src = "../media/images/base/sj.jpg" style="width: 100%;" >
  </a>


{% endblock body %}