{% extends "base.html" %}

{% block body %}
<style type="text/css">
  p{
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
  }
  h2{
    font-family: 'Athiti', sans-serif;
    font-weight:bold;
  }
  h4{
    color: #5CB85C;
  }
  i{
    

  }
</style>
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="../media/images/base/sj2.jpg" class="img-responsive img-thumbnail">
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Heineken' presents SpaceJam</h2>
            <p class="text-center text">
              <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ยินดีต้อนรับทุกท่านเข้าสู่
              " SPACEJAM " ยานอวกาศที่จะพาทุกท่านพุ่งทะยานไปพบกับมิติใหม่ จนทำให้คุณลืมความมันส์ครั้งก่อนๆที่เคยพบมา
              พร้อมกับ DJ ระดับโลกที่จะมาระเบิดความมันส์อย่างคับคั่ง แล้วพบกัน 12.05.2017
              ณ BITEC BANGNA เปิดขายบัตรวันที่ 17 เมษายนนี้ เวลา 18:00 น. เป็นต้นไป
              <br>
              <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Here, you will experience
              an unforgettable bash, which A spacecraft which will take everyone up high
              and above into new dimensions. uunikeBe prepared to bring your happy feet
              and meet any other you have experienced in the past. theworldclass DJs
              and Artists! Phase 1 Line Up and ticketing details are to be announced
              shortly!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col"></div>
          <div class="col-md-5">
            <ul class="media-list text-left boxtime">
              <li class="media">
                <div class="media-body">
                  <h4 class="gr media-heading text-left" contenteditable="true" style=" color: #5CB85C;">
                    <i class="fa fa-2x fa-clock-o fa-fw"></i>&nbsp; 12 May 2017 16:00</h4>
                </div>
              </li>
              <li class="media">
                <div class="media-body">
                  <h4 class="media-heading text-success gr">
                    <i class="fa fa-2x fa-fw fa-map-marker"></i>&nbsp; BITEC Bang Na Bangkok Thailand</h4>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-3 text-center boxticket">
          <a href="https://www.eventpop.me/e/1620-spacejam">
            <button class="buttonG" style="vertical-align:middle"><span>BUY TICKET </span></button></a>
          </div>
          <div class="col-md-2 col"></div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <center>
              <img src="../media/images/base/pos1.jpg" class="img-responsive pos">
              <img src="../media/images/base/pos2.jpg" class="img-responsive pos">
              <img src="../media/images/base/pos3.jpg" class="img-responsive pos">
              <img src="../media/images/base/pos4.jpg" class="img-responsive pos">
            </center>
          </div>
        </div>
      </div>
    </div><div class="section"><div class="container"><div class="row"><div class="col-md-12"><p class="text-center text2">WELCOMING EVERYONE TO "SPACEJAM" See you on 12.05.2017 at BITEC BANGNA&nbsp;<br>#spacejamfestival #spacejam2017 #zaapparty&nbsp;<br>ผู้เข้าร่วมงานต้องมีอายุ 18 ปีบริบูรณ์ ขึ้นไป และจะจำหน่ายเครื่องดื่มที่มีแอลกอฮอล์สำหรับผู้เข้าร่วมงานที่มีอายุ 20 ปีบริบูรณ์ขึ้นไปเท่านั้น</p></div></div></div></div>
    {% endblock body %}