{% extends "base.html" %}


{% block body %}
<style type="text/css">
  <style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button4 {
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #fff;
    float: left;

}

.button4:hover {background-color: #e7e7e7;}

h1,h2,h3,h4,td{


    
    font-family: 'Josefin Slab', serif;


}


</style>
</style>
    <div class="carousel slide" id="fullcarousel-example" data-interval="3000" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../media/images/base/imagesl1.jpg">
          
        </div>
        <div class="item">
          <img src="../media/images/base/imagesl2.jpg">
        </div>
        <div class="item">
          <img src="../media/images/base/imagesl3.jpg">
        </div>
      </div>
      <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>
    <div class="section blockbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 text-center">
                    <center>
                      <img src="../media/images/base/icon1.png" class="center img-circle img-responsive">
                    </center>
                    <h4 class="text-center pub" contenteditable="true">BAR&amp;PUB</h4>
                  </div>
                  <div class="col-md-3 text-center">
                    <center>
                    <img src="../media/images/base/icon2.png" class="img-circle img-responsive">
                    </center>
                    <h4 class="text-center pub">BOOKING</h4>
                  </div>
                  <div class="col-md-3 text-center">
                    <center>
                    <img src="../media/images/base/icon3.png" class="img-circle img-responsive">
                     </center>
                    <h4 class="text-center pub">LOCATION</h4>
                  </div>
                  <div class="col-md-3 text-center">
                    <center>
                    <img src="../media/images/base/icon4.png" class="img-circle img-responsive">
                    <h4 class="text-center pub">DRINK INFO</h4>
                  </center></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="about">
              <i class="fa fa-fw fa-lg fa-plus plus"></i>ABOUT US</h1>
            <h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The people behind DrunkMe:</h2>
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <img src="../media/images/base/pp1.png" class="img-responsive pic">
                    <h4 class="text-center name">V.Phubase</h4>
                    <h4 class="text-center subname">Project Manager</h4>
                  </div>
                  <div class="col-md-3">
                    <img src="../media/images/base/pp2.png" class="img-responsive pic">
                    <h4 class="text-center name">K.Rachata</h4>
                    <h4 class="text-center subname">Scrum Master</h4>
                  </div>
                  <div class="col-md-3">
                    <img src="../media/images/base/pp3.png" class="img-responsive img-rounded pic">
                    <h4 class="text-center name">G.Sarunporn</h4>
                    <h4 class="text-center subname">Management</h4>
                  </div>
                  <div class="col-md-3">
                    <img src="../media/images/base/pp4.png" class="img-responsive pic">
                    <h4 class="text-center name">K.Kornphakrist</h4>
                    <h4 class="text-center subname">Market Research</h4>
                  </div>
                </div>
              </div>
          </div>
          <h3 class="text-center">DESIGN BUSINESS &amp; TECHNOLOGY MANAGEMENT</h3>
        </div>
      </div>
    </div>
    </div>
    <div class="contact section" name=contact id=contact>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="about">
              <i class="fa fa-fw fa-lg fa-plus plus"></i>CONTACT US</h1>
            <h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Over&nbsp;the phone or
              online</h2>
          </div>
        </div>
        <br><br><br>
        <div class="row">
          <div class="col-md-6 text-right">
            <table class="table">
              <tbody>
                <tr>
                  <td style="border: none;">
                    <i class="color fa fa-2x fa-envelope-o fa-fw pull-right"></i>
                  </td>
                  <td style="border: none;" class="color">info@drunkme.com</td>
                </tr>
                <tr>
                  <td style="border: none;">
                    <i class="color fa fa-2x fa-fw fa-mobile pull-right"></i>
                  </td>
                  <td style="border: none;" class="color">080-271-1310</td>
                </tr>
                <tr>
                  <td style="border: none;">
                    <i class="color fa fa-2x fa-fw fa-map-marker pull-right"></i>
                  </td>
                  <td style="border: none;" class="color">Faculty of Architecture and Planning TU,
                    <br>&nbsp; Khlong Luang, Pathumthani, Thailand 12120</td>
                </tr>

              </tbody>

            </table>
            <center>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.1537269293103!2d100.60657461529458!3d14.068098090143359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d8040089d11c1%3A0x15b128028a5662b6!2z4LiE4LiT4Liw4Liq4LiW4Liy4Lib4Lix4LiV4Lii4LiB4Lij4Lij4Lih4Lio4Liy4Liq4LiV4Lij4LmM4LmB4Lil4Liw4LiB4Liy4Lij4Lic4Lix4LiH4LmA4Lih4Li34Lit4LiHIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4mOC4o-C4o-C4oeC4qOC4suC4quC4leC4o-C5jA!5e0!3m2!1sth!2sth!4v1495054596535" width="300" height="300" frameborder="0" style="" allowfullscreen></iframe>
            </center>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <form role="form" class="text-left">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Name</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter name" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Message</label>
                <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Enter your message">
              </div>
              <button type="submit" class="btn btn-warning float">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock body %}