{% extends "base.html" %}



{% block body %}
<style type="text/css">
  
  p{
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
  }
  h1{
    font-family: 'Athiti', sans-serif;
    font-weight:bold;
  }
</style>


 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <center>
          <img src="../media/images/base/5bk2.jpg"   class="img-responsive img-thumbnail">
          </center>
            <br>
            <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;ดูเหมือนกรุงเทพอาจยังเข้าใจผิดกับคอนเซ็ป “speakeasy”อยู่ทุกวันนี้ มีหลายๆสถานที่ในกรุงเทพ ที่พยายามจัดประเภทตัวเองให้เข้ากับคอนเซ็ปดังกล่าว หากเเต่ความรู้สึกที่มักมากับคอนเซ็ปนี้ ได้จางหายไปพร้อมกับท้องฟ้าอันสวยงามยามคํ่าคืนของกรุงเทพ
คอนเซ็ป “speakeasy” นั้น ในอดีตถูกสร้างขึ้นเพื่อการขายเหล้าเถื่อนโดยเฉพาะ ในปี 1920-1933 ตลอดระยะเวลา 13 ปีนั้น อเมริกาถูกสั่งห้ามในการจําหน่ายเครื่องดื่มมึนเมา เพระาฉะนั้น หากคุณรู้สึกอยากดื่ม คุณจะไม่สามารถเดินไปที่บาร์ท้องถิ่น และสั่งเบียร์ 1 ไพนท์ได้ มันคงจะยากเหมือนกับการพยายามหาสัญญาณอินเตอร์เน็ตในป่าดงดิบ หรือแม้กระทั่งใน ทวีป Antarctica
ไอเดียของ “speakeasy” นั้นคือสถานที่ที่ทําให้คุณรู้สึกถึงความลึกลับ แม้ว่าจะมีไม่มาก แต่ก็ยังโชคดีที่ยังมีสถานที่ให้ความรู้สึกเหล่านี้อยู่ในกรุงเทพอยู่ Siam2nite จึงได้จัดทําลิสต์ขึ้นมาให้คุณไปสำรวจความเป็น “speakeasy” เมื่อไปเยือน 5 สถานที่เหล่านี้ จะทําให้คุณนึกถึงอดีตตอนที่ไม่มีการขาย ผลิต หรือเเม้เเต่การขนส่งเหล้าในอเมริกาตอนปี 1920 ทันที คุณอาจจะคิดว่าราคาอาจจะสูงลิ่ว แต่จงเชื่อพวกเรา ประสบการณ์เหล่านี้คุ้มค่ากับราคาอย่างเเน่นอน</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>#1 J. Boroski 
                <br> ทองหล่อ</h1>
            <img src="../media/images/base/bk1.jpg" class="img-responsive">
            <br>
            <p> ความลึกลับของ J Boroski อยู่ตรงที่สถานที่ที่ตั้งของร้าน J Boroski เป็นบาร์สลัวๆที่ซ่อนอยู่ในซอยเลขคี่ของทองหล่อ และด้วย Cocktail ที่ไม่ซํ้าใครของร้านนี้ ทําให้เป็นตํานานเล่าขานว่าเป็น cocktail ที่เลื่องชื่อที่สุดในกรุงเทพ 
            <br><br>ร้านนี้ถูกสร้างขึ้นและ ดูแลโดยคุณ Joseph Boroski หากคุณลองค้นหาชื่อของเขาใน google คุณจะค้นพบกับบทความความสําเร็จของเขาอย่างแน่นอน หากชายคนนี้สามารถสร้างสรรค์ cocktail ให้กับบาร์ชื่อดัง ร้านอาหาร และโรงแรมต่างๆ อะไรจะหยุดยั้งคนพิเศษอย่างเขาไม่ให้เปิดร้านของตัวเอง คุณสามารถค้นพบคําตอบได้ด้วยตัวคุณเอง ต่อเมื่อคุณได้ไปเยือน J Boroski เท่านั้น

            <br><br>เมื่อถึงร้านปล่อยให้เป็นหน้าที่ของ bartender ที่จะร่ายเวทมนตร์กล่อมคุณให้เคลิ้ม แต่อย่าลืม ระหว่างที่คุณกําลังดื่มดํ่ากับเครื่องดื่มที่ทําขึ้นอย่างพิถ๊พิถันนั้น คุณลองมองรอบๆสํารวจดีไซน์ของสถานที่ที่สร้างสรรค์โดยคุณ Ashley Sutton ไปด้วยในเวลาเดียวกัน 

            <br><br>ติดต่อ: 02-712-6025</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>#2 Q&A
                <br>สุขุมวิท ซอย 21  </h1>
            <img src="../media/images/base/bk2.jpg" class="img-responsive">
            <br>
            <p> จากทีมงานเดียวกันกับ Sugar Ray You’ve Just Been Poisoned ที่เพิ่งปิดไป Q&A ยังคงมนต์เสน่ห์ของ “speakeasy” เอาไว้ได้อย่างดี บรรยากาศที่ Q&A เหมาะกับการ hang out กับเพื่อนๆเป็นกลุ่มเล็กๆ เพื่อการสนทนาพร้อมกับจิบเครื่องดื่มหรูหราไปด้วยเเน่นอน

            <br><br>คุณจะค้นหาทางเข้าของร้านได้ข้างหลังกระจกบานใหญ่ ทีมีเครื่องหมายคําถามติดอยู่ที่ประตู ขอให้คุณตั้งใจมองเมื่อเดินมุ่งหน้าไปที่ Asoke Residences ทางเข้าของ Q&A อาจทําให้คุณรู้สึกได้ถึงความเป็นยุคปี 50 และ 60 และเมื่อคุณเข้ามาข้างใน ปล่อยให้ Bartender ร่ายเวทมนตร์กับ cocktail ของคุณ และมาเรียนรู้ไปพร้อมๆกันว่าทำไมบาร์ Q&A ถึงถูกตั้งชื่อเช่นนี้ 

            <br><br>ซึ่งคําตอบจะถูกเฉลยเมื่อตอนคุณนั่งลงและ เริ่มพูดคุยกับ Bartender คุณควรเตรียมพร้อมสําหรับความใกล้ชิดและ ความเป็นส่วนตัวในการดื่ม ถึงเเม้ว่าคุณจะไปร้านนี้คนเดียว คุณอาจจะไม่เคยรู้สึกเดียวดายเลย  

            <br><br>ติดต่อ: 02-664-1445</p>
          </div>
        </div>
      </div>
    </div>

     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>#3 Havana Social
                <br>สุขุมวิท ซอย 11  </h1>
            <img src="../media/images/base/bk3.jpg" class="img-responsive">
            <br>
            <p> ยุคก่อนปฏิวัติของ Cuba เพิ่งย่างกรายถึงกรุงเทพ หากคุณเคยคิดสงสัยว่าความรู้สึกว่าตอนถอยเวลากลับไป 12 ชั่วโมงเเละ การย้อนกลับไปอีก 75 ปีเป็นอย่างไร คุณลองไปเยี่ยมเยือนสุขุมวิท ซอย 11 ซึ่งการหาทางไป Havana Social อาจทําให้คุณรู้สึกเหมือนคุณเป็น James Bond
            
            <br><br>พยายามหาป้าย Banana Club เพื่อเป็นจุด landmark ในการหาทางเข้าไปยัง Havana Social เชื่อพวกเราเถอะ ความพยายามของคุณจะไม่สูญเปล่า เพราะความสนุกและ ประสบการณ์ที่คุณไม่สามารถจินตนาการได้กําลังรอคุณอยู่ 

            <br><br>เมื่อคุณเดินเข้าไป ความรู้สึกของคุณจะมีแต่ดีเเละ ดีขึ้น ทีมงานที่ดูแล Havana Social เป็นทีมงานเดียวกันกับ Above Elevenและ Charcoal การตกแต่งงดงามและ เครื่องดื่มของคุณจะถูกสร้างสรรค์อย่างประณีต คุณสามารถลองชิมอาหาร Cuba ได้ที่ Havana Social ยิ่งไปกว่านั้นพวกเราได้ยินมาว่า เร็วๆนี้พวกเขากําลังจะเปิด Cuban Cigar lounge บนชั้น 2 ที่คุณสามารถเพลิดเพลินไปกับ rum ต่างๆที่พวกเขามีอยู่ด้วย 

            <br><br>ติดต่อ: 087-066-7711 </p>
          </div>
        </div>
      </div>
    </div>

     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>#4 U.N.C.L.E.
                <br>สาธรซอย 12 </h1>
            <img src="../media/images/base/bk4.jpg" class="img-responsive">
            <br>
            <p> ถึงแม้ว่าร้านนี้จะไม่ลึกลับเท่าไร ตรงกับคอนเซปต์ “speakeasy” นั้น แต่ร้าน U.N.C.L.E ก็มีมนต์เสน่ห์เป็นของตัวเอง คุณสามารถหาทางเข้าร้านได้ง่าย เพราะร้านนี้ตั้งอยู่บนร้าน Lady Brett
            
            <br><br>เมื่อเดินเข้าไปในร้าน คุณจะรู้สึกถึง Hipster heaven ไม่ว่าจะเป็นเฟอร์นิเจอร์สีนํ้าตาล เเสงสีเหลืองอ่อนๆ และเก้าอี้โซฟาหนัง บรรยากาศนี้ทําให้คุณรู้สึกอยากผ่อนคลายในชุดสูท พวกเรารู้ว่าทุกคนคงไม่ได้ใส่ชุดเเบบนั้นมาที่ร้านนี้ แต่บรรยากาศที่ร้านเหมาะกับการใส่สูทมาเยี่ยมชมมาก 

            <br><br>คุณอาจจะตกตะลึงไปกับผู้หญิงสวยๆ ตอนคุณก้าวเข้ามาในร้านเป็นครั้งเเรก แต่รอให้คุณได้ลิ้มลองรส cocktail ของที่นี้ก่อน คุณจะลืมบรรยกาศตอนเดินเข้ามาทันที เพราะคุณจะรู้สึกดื่มด่ำไปกับ cocktail รสชาติดีเยี่ยม เเละส่วนผสมที่เราอาจคิดไม่ถึงในการผสมกับเครื่องดื่ม alcohol ซึ่งมันทำให้พวกเราสงสัยจริงๆ ว่าร้านนี้ทําสิ่งมหัศจรรย์อย่างนี้ได้อย่างไร 

            <br><br>ร้าน U.N.C.L.E ยังมีอีกหลายอย่างให้คุณลองสั่ง ไม่ว่าจะเป็น steak หรือ mussels หากคุณกําลังมองหาสถานที่เพื่อผ่อนคลายกับเพื่อนๆ เเละครอบครัว ที่นี้ควรเป็นตัวเลือกอันเเรกที่คุณไม่จําเป็นต้องคิดหนัก  

            <br><br>ติดต่อ: 02-635-0406</p>


          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>#5 Rabbit Hole
                <br>ทองหล่อ   </h1>
            <img src="../media/images/base/bk5.jpg" class="img-responsive">
            <br>
            <p> Rabbit Hole เป็นบาร์น้องใหม่แนว Speakeasy ที่อาจดูเหมือนร้านเล็กๆจากภายนอก แต่เมื่อคุณได้ลองเข้าไปข้างใน คุณจะเจอกับสิ่งที่ไม่คาดคิดมาก่อน บาร์นี้ ไม่มีป้ายหน้าร้าน แต่คุณสามารถที่จะหามันเจอได้ ถ้ามองหาร้านญี่ปุ่น ระหว่างทองหล่อ ซอย5 กับซอย 7 บาร์จะอยู่หลังประตูไม้เล็กๆ 1 บาน 
            
            <br><br>เมื่อเข้าไปข้างในคุณจะสังเกตได้ ว่าตัวบาร์เองอาจจะแคบ แต่เนื่องจาก เพดานค่อนข้างสูง ทำให้ประสบการณ์ของการเดินเข้าไปภายในบาร์นี้ เป็นประสบการณ์ที่ อาจจะสามารถเรียกได้ว่า “larger than life” อย่าคิดว่าเนื่องจากเป็นบาร์แนว speakeasy Rabbit Hole จะมีที่นั่งไม่กี่ที่ จริงๆแล้วบาร์นี้มีมากกว่า 1 ชั้นให้คุณได้ลองสำรวจ

            <br><br>และเมื่อคุณเจอที่นั่งที่คุณถูกชะตา บาร์เทนเดอร์เก่าๆทั้งสองที่มีดีกรีเป็น Diego World Class บาร์เทนเดอร์จะมาสร้างประสบการณ์ที่ใหม่ๆให้คุณลิ้มลองกับเครื่องดื่มที่คุณไม่เคยเจอมาที่ไหนมาก่อน และเนื่องจาก Rabbit Hole อยากที่จะโฟกัสเรื่องเครื่องดื่มจริงๆ ทางบาร์จะไม่เสิร์ฟอาหาร เพราะฉะนั้นอย่าลืมที่จะเตรียมตัวกินข้าวไปก่อนไปเอ็นจอย 

            <br><br>ติดต่อ: 081-822-3392 </p>
          </div>
        </div>
      </div>
    </div>


{% endblock body %}